.red {
	color:red;
}
.SDGFjhj{
	color:blue;
}
#dropdown-inline li{
	display:inline-block;
}
.dropdown-content1 {
	display:none;
}

#dropdown li{
	display:inline-block;
	position:relative;
}
.dropdown-content {
	display:none;
	position:absolute;
}
#dropdown li:hover .dropdown-content{
	display:inline-block;
}